body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #38167D;
    color: #fff;
}

header {
    background-color: #38167D;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 50px; 
    height: auto; 
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    font-size: 40px;
}

.content {
    background-color: #4B288A;
    padding: 20px;
    text-align: center;
}
p.author{
    font-size: 25px;
}
p.callToAction{
    font-size: 30px;
}

.episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.episode-card {
    background-color: #D4AF37;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

.episode-card img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #38167D;
    padding: 10px 20px;
    text-align: center;
}
footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #FFD700; /* Colore di hover per le icone */
}
